<div class="calculating">
</div>

<div class="calculating-text">
    <span class="tlt">
	      <ul class="texts">
		        <li data-out-effect="fadeOut" data-out-shuffle="true">Calculating...</li>
		        <li data-out-effect="fadeOut" data-out-shuffle="true">Please wait...</li>
		        <li data-out-effect="fadeOut" data-out-shuffle="true">One more second, please...</li>
		        <li data-out-effect="fadeOut" data-out-shuffle="true">Finishing, I promise...</li>
		        <li data-out-effect="fadeOut" data-out-shuffle="true">Ok, your result is available!</li>
	      </ul>
    </span>

    <br/>

    <%= link_to "Click here!", submission_path(@submission), class: "js-result" %>
</div>
